.searchPage {
    position: absolute;
    background: url('../../../public/images/hero-image.png') no-repeat center;
    background-size: contain;
    height: calc(100vh - 93px);
    width: 100%;
}

.searchPage_input {
    background: url('../../../public/images/Search.svg') no-repeat 98%;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    width: 40vw;
    margin-top: 24px;
    padding: 16px 15px;
}

.searchPage_background_left_mobile,
.searchPage_background_right_mobile {
    display: none;
}

.searchPage_input:focus {
    outline: none;
}

.searchPage_imageTop {
    background: url('../../../public/images/gradiend-bg@2x.png') no-repeat center;
    background-size: cover;
}

@media screen and (max-width: 640px) {
    .searchPage_input {
        width: 80vw;
    }

    .searchPage {
        background: none;
    }

    .searchPage_background_left_mobile,
    .searchPage_background_right_mobile {
        position: absolute;
        top: 0;
        display: block;
        min-width: 537px;
        min-height: 797px;
    }

    .searchPage_background_left_mobile {
        left: -509px;
    }

    .searchPage_background_right_mobile {
        right: -509px;
    }

}